In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [11]:
query = "(from:amazonIN) until:2022-01-01 since:2012-01-01"
tweets = []
limit = 1000

In [9]:

for tweet in sntwitter.TwitterSearchScraper(query).get_items():

    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

C:\Users\adeen\AppData\Local\Temp\ipykernel_11924\115765665.py:6: FutureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [12]:
print(df)

                          Date      User  \
0    2021-12-31 18:37:57+00:00  amazonIN
1    2021-12-31 16:08:45+00:00  amazonIN
2    2021-12-31 15:43:04+00:00  amazonIN
3    2021-12-31 15:36:22+00:00  amazonIN
4    2021-12-31 13:22:53+00:00  amazonIN
...                        ...       ...
9995 2018-10-09 15:33:10+00:00  amazonIN
9996 2018-10-09 15:33:10+00:00  amazonIN
9997 2018-10-09 15:33:09+00:00  amazonIN
9998 2018-10-09 15:33:09+00:00  amazonIN
9999 2018-10-09 15:33:09+00:00  amazonIN

                                                  Tweet
0     @QaziSami We apologize for the inconvenience c...
1     @imAkshayjadhav_ Could you please confirm reac...
2     @imAkshayjadhav_ We'd like to help by taking a...
3     @imAkshayjadhav_ Ok, let us know if our suppor...
4     It's almost the end of the year and we have th...
...                                                 ...
9995  @BharatD77044260 Retweet now for The Great Ind...
9996  @praveen82manu Retweet now for The Great India...
9997  @AbhiramUppu Retweet now for The Great Indian ...
9998  @KewalSingla4 Retweet now for The Great Indian...
9999  @RushiSavani Retweet now for The Great Indian ...

[10000 rows x 3 columns]

In [10]:
df

,Date,User,Tweet
0,2021-12-31 18:37:57+00:00,amazonIN,@QaziSami We apologize for the inconvenience c...
1,2021-12-31 16:08:45+00:00,amazonIN,@imAkshayjadhav_ Could you please confirm reac...
2,2021-12-31 15:43:04+00:00,amazonIN,@imAkshayjadhav_ We'd like to help by taking a...
3,2021-12-31 15:36:22+00:00,amazonIN,"@imAkshayjadhav_ Ok, let us know if our suppor..."
4,2021-12-31 13:22:53+00:00,amazonIN,It's almost the end of the year and we have th...
...,...,...,...
9995,2018-10-09 15:33:10+00:00,amazonIN,@BharatD77044260 Retweet now for The Great Ind...
9996,2018-10-09 15:33:10+00:00,amazonIN,@praveen82manu Retweet now for The Great India...
9997,2018-10-09 15:33:09+00:00,amazonIN,@AbhiramUppu Retweet now for The Great Indian ...
9998,2018-10-09 15:33:09+00:00,amazonIN,@KewalSingla4 Retweet now for The Great Indian...
9999,2018-10-09 15:33:09+00:00,amazonIN,@RushiSavani Retweet now for The Great Indian ...